src/app/**/*.js
src/app/**/*.js.map

# WebStorm files
.idea/

# NPM Dependencies
**/node_modules/

# JSPM Dependencies
**/jspm_packages/

# Typings
typings/browser/
typings/browser.d.ts
typings/main/
typings/main.d.ts