src/app/**/*.js
src/app/**/*.js.map

src/app/boot.ts

dist/site/

# WebStorm files
.idea/

# NPM Dependencies
**/node_modules/

# JSPM Dependencies
**/jspm_packages/

# Typings
**/typings/browser/
**/typings/main/
**/typings/browser.d.ts
**/typings/main.d.ts